<!DOCTYPE html>
<html>
<head>
  <title>Tiny App</title>
</head>
<body>


  <% include partials/_header %>
  <!-- <% if(currentUser) { %>
  <p>Logged in as: </p>
  <%= currentUser.email %> -->
  <ol>
    <% for(let key in urls) { %>
      <li><a href="/u/<%=key%>"><%= key %></a> - <%= urls[key].longURL %>
        <form method="POST" action="/urls/<%=key%>/delete">
          <input type="hidden" value="<%=key%>" />
          <button type="submit">Delete</button>
          <a href="/urls/<%=key%>">Update</a>
        </form>
      </li>
    <% } %>
  </ol>
  <!-- <% } else { %>
  <% } %> -->
  <p><a href="/urls/new">Shorten a new URL</a></p>

</body>
</html>